.main {
    width: 1200px;
    height:1000px;
    position:relative;
}

.sixPictures{
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 76.5%;
}
nav {
    margin-left:300px;
    margin-right:300px;
}

.cookie1 {
    position:absolute;
    top: 4%;
    left:12.8%;
}

.twinPictures {
        position: absolute;
        top: 5%;
        left: 91.5%;
}


.johnWayne {
    position: absolute;
    background: linear-gradient(black, grey);
    height: 30px;
    width: 1000px;
    left: 10%;
    top: 15%;

}

h1 {
    position: absolute;
    top: 25%;
    left:10%;
    font-size: 32pt;
}

h2 {
    position: absolute;
    top:3.3%;
    left: 17%;
    font-size: 30pt;
}
h4{
    position: absolute;
    top: 7%;
    left: 17%
}

.pizzaPizza {
    position: absolute;
    top: 35%;
    left: 10%;
    border-image-width: 6in;
}

button {
    position: absolute;
    left: 65%;
}

/* paragraphs below
.know {
    position: absolute;
    top: 120%;

}

.life {
    position: absolute;
    top: 122%;
}

.machine {
    position: absolute;
    top: 209%;


} */
/* paragraphs above  */



.vanessa{
    position: absolute;
    top: 250%
}

.paragraphs {
    position: absolute;
    font-size: 13pt;
    width: 900px;
    left: 10%;
    top: 119%


}